.zone-actions-list-item {
    border-radius: 25px;
    border:solid 1px black;
    background: lightgray;
}

.zone-actions-active-notification {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.zone-actions-active-icon {
    color: green;
}

.zone-actions-active-msg {
    margin-left: 5px;
}

.controls-sequence-list-section {
    margin-top: 15px;
    width:500px;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}
  
.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.example-box:last-child {
    border: none;
}
  
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.zone-actions-activate-bar {
    margin-left: 30px;
}

.zone-actions-inhibit-bar {
    margin-left: 30px;
}

.button-row-label {
   display: table-cell;
   font-size: 14px;
   margin-left: 8px;
   min-width: 120px;
}
  
.button-row {
   display: table-cell;
   width: 490px;
}
  
.button-row .mat-button-base {
   margin: 8px 8px 8px 0;
}

.controls-device-pane {
    width: 700px;
    margin-top: 15px;
    margin-left: 30px;
}

.controls-zone-control-pane {
    width: 800px;
    margin-top: 15px;
}

.device-delay-bar {
    margin-left: 30px;
}

.device-button-row-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}
   
.device-button-row {
    display: table-cell;
    width: 600px;
}
   
.device-button-row {
    margin: 8px 8px 8px 0;
}

.controls-cancel-sequence-pane {
    width: 500px;
    margin-top: 15px;
    margin-left: 30px;
}

.controls-execute-sequence-pane {
    width: 500px;
    margin-top: 15px;
    margin-left: 30px;
}

.controls-onetime-sequence-pane {
    width: 500px;
    margin-top: 15px;
    margin-left: 30px;
}

.controls-onetime-duration-row {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.controls-sequence-select {
    font-size: 16px;
    margin-bottom: 30px;
    border:solid 1px lightgray;
}

.controls-zone-add-remove-section {
    width: 500px;
    margin-top: 15px;
}

.controls-zone-add-remove-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.controls-zone-select {
    margin-left: 15px;
    padding-top: 8px;
    font-size: 16px;
    border:solid 1px lightgray;
}