<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}">
                <mat-icon>other_houses</mat-icon>
                Status
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/controls">
                <mat-icon>build_circle</mat-icon>
                Manual Control
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/schedule">
                <mat-icon>schedule</mat-icon>
                Schedule
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/zones">
                <mat-icon>yard</mat-icon>
                Zones
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/placements">
                <mat-icon>punch_clock</mat-icon>
                Placements
            </a>            
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/modifiers">
                <mat-icon>exposure</mat-icon>
                Modifiers
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/sequences">
                <mat-icon>playlist_play</mat-icon>
                Sequences
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/inhibits">
                <mat-icon>block</mat-icon>
                Inhibits
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-tab-group>
            <mat-tab label="Zone Control"> Content </mat-tab>
            <mat-tab label="One-Time Sequence">
                <form>
                    <mat-form-field>
                        <mat-hint>On Duration (HH:MM:SS)</mat-hint>
                        <input matInput placeholder="00:00:00"/>
                    </mat-form-field>           
                    <mat-form-field>
                        <mat-hint>Off Duration (HH:MM:SS)</mat-hint>
                        <input matInput placeholder="00:00:00"/>
                    </mat-form-field>
                    <br/>  
                    <div class="example-container">
                        <h3>Sequence Entries</h3>
                        <p>Drag entries to reorder sequence.</p>
                        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let objID of objIDList" cdkDrag>{{getObjectName(objID)}}</div>
                        </div>
                        <div>
                            <p>Add and remove sequence entries.</p>
                            <mat-select [(value)]="this.selectedObjID">
                                <mat-option *ngFor="let zone of availZones" value="{{zone.id}}">{{zone.name}}</mat-option>
                            </mat-select>
                            <button class="mat-icon-button" (click)="addObjID()"><mat-icon>add</mat-icon></button>
                            <button class="mat-icon-button" (click)="removeObjID()"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <button class="mat-raised-button" (click)="executeOneTimeSequence()">Execute Sequence</button>
                </form>      
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>        
</mat-sidenav-container>
