<mat-nav-list>
    <a mat-list-item *ngIf="hexID" routerLink="/hnode2-irrigation-device/{{hexID}}">
        <mat-icon>other_houses</mat-icon>
        Status
    </a>
    <a mat-list-item *ngIf="hexID" routerLink="/hnode2-irrigation-device/{{hexID}}/controls">
        <mat-icon>build_circle</mat-icon>
        Manual Control
    </a>
    <a mat-list-item *ngIf="hexID" routerLink="/hnode2-irrigation-device/{{hexID}}/schedule">
        <mat-icon>schedule</mat-icon>
        Schedule
    </a>
    <a mat-list-item *ngIf="hexID" routerLink="/hnode2-irrigation-device/{{hexID}}/zones">
        <mat-icon>yard</mat-icon>
        Zones
    </a>
    <a mat-list-item *ngIf="hexID" routerLink="/hnode2-irrigation-device/{{hexID}}/placements">
        <mat-icon>punch_clock</mat-icon>
        Placements
    </a>            
    <a mat-list-item *ngIf="hexID" routerLink="/hnode2-irrigation-device/{{hexID}}/modifiers">
        <mat-icon>exposure</mat-icon>
        Modifiers
    </a>
    <a mat-list-item *ngIf="hexID" routerLink="/hnode2-irrigation-device/{{hexID}}/sequences">
        <mat-icon>playlist_play</mat-icon>
        Sequences
    </a>
    <a mat-list-item *ngIf="hexID" routerLink="/hnode2-irrigation-device/{{hexID}}/inhibits">
        <mat-icon>block</mat-icon>
        Delays
    </a>
</mat-nav-list>
