.status-panel {
    margin: 30px;
}

.status-title-cell {
    text-align: right;
    font-size: 1.5em;
}

.status-data-cell {
    display: flex;
    flex-direction: row;
}

.status-data-div1 {
    display: flex;
    flex-direction: row;
}

.status-data-div2 {
    display: flex;
    flex-direction: row;
}

.status-data-list-container {
    display: flex;
    flex-direction: column;
}

.status-data-list-item {
    display: flex;
    flex-direction: row;
}

.status-date-text {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.5em;
}

.status-time-text {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.5em;    
}

.status-tz-text {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.5em;    
}

.status-div-text {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.5em;    
}

.ok-check-icon {
    margin-top: 5px;
    margin-left: 10px;
    color: green;
}

.warning-icon {
    margin-top: 5px;
    margin-left: 10px;
    color: red;
}

.block-icon {
    margin-top: 5px;
    margin-left: 10ps;
    color: red;
}

.water-drop-icon {
    margin-top: 5px;
    margin-left: 10px;
    color: blue;
}