<!--
activeZones: string[];
date: string;
disabledZones: string[];
inhibitUntil: string;
inhibitZones: string[];
overallHealth: OverallHealth;
schedulerState: string;
time: string;
timezone: string;
-->
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <app-hnid-nav-list></app-hnid-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-card>
            <mat-card-content *ngIf="status">
                <p><strong>Date: </strong>{{status.date}}</p>
                <p><strong>Time: </strong>{{status.time}}</p>
                <p><strong>Time Zone: </strong>{{status.timezone}}</p>
                <p><strong>Scheduler State: </strong>{{status.schedulerState}}</p>
                <!--
                <mat-button-toggle-group name="schedulerStateButton" aria-label="Scheduling State" [value]="status.schedulerState">
                    <mat-button-toggle value="enabled" (change)="changeSchedulerState($event.value)">Enabled</mat-button-toggle>
                    <mat-button-toggle value="disabled" (change)="changeSchedulerState($event.value)">Disabled</mat-button-toggle>
                </mat-button-toggle-group>
            -->
                <p><strong>Health: </strong>{{status.overallHealth.status}}  {{status.overallHealth.msg}}</p>
            </mat-card-content> 
        </mat-card>
    </mat-sidenav-content>        
</mat-sidenav-container>
