<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <app-hnmd-nav-list></app-hnmd-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-list class="home-headers-align">
            <h3 mat-subheader>My Devices</h3>
            <mat-list-item *ngFor="let device of content.ownedDevices; last as last">
              <mat-icon mat-list-icon>stars</mat-icon>
              <mat-expansion-panel class="home-expander">
                <mat-expansion-panel-header>
                  <mat-panel-title><h4 mat-line>{{device.name}}</h4></mat-panel-title>
                  <mat-panel-description>
                  {{device.deviceType}} 
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p mat-line class="demo-2"> <strong>Device Type: </strong>{{device.deviceType}} </p>
                <p mat-line class="demo-2"> <strong>Device Version: </strong>{{device.deviceVersion}} </p>
                <p mat-line class="demo-2"> <strong>Discovery ID: </strong>{{device.discID}} </p>
                <p mat-line class="demo-2"> <strong>Hnode ID: </strong>{{device.hnodeID}} </p>
                <p mat-line class="demo-2"> <strong>CRC32 ID: </strong>{{device.crc32ID}} </p>
                <p mat-line class="demo-2"> <strong>Hex ID: </strong>{{device.hexID}} </p>
                <p *ngFor="let addr of device.addresses"><strong>Net Addr:</strong> {{addr.type}}  {{addr.address}}  {{addr.port}}</p>       
              </mat-expansion-panel>
              <button mat-button (click)="onEditButtonClick( device.hexID )">
                <mat-icon>settings</mat-icon>
              </button>      
              <button mat-button (click)="onReleaseDevice( device.hexID )">
                <mat-icon>link_off</mat-icon>
              </button>
              <button mat-button routerLink="/{{device.deviceType}}/{{device.hexID}}">
                <mat-icon>start</mat-icon>
              </button>
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>  
              <h3 mat-subheader>Unclaimed Devices</h3>
              <mat-list-item *ngFor="let device of content.unclaimedDevices; last as last">
                <mat-icon mat-list-icon>help_outline</mat-icon>
                <mat-expansion-panel class="home-expander">
                  <mat-expansion-panel-header>
                    <mat-panel-title><h4 mat-line>{{device.name}}</h4></mat-panel-title>
                    <mat-panel-description>
                    {{device.deviceType}} 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p mat-line class="demo-2"> <strong>Device Type: </strong>{{device.deviceType}} </p>
                  <p mat-line class="demo-2"> <strong>Device Version: </strong>{{device.deviceVersion}} </p>
                  <p mat-line class="demo-2"> <strong>Discovery ID: </strong>{{device.discID}} </p>
                  <p mat-line class="demo-2"> <strong>Hnode ID: </strong>{{device.hnodeID}} </p>
                  <p mat-line class="demo-2"> <strong>CRC32 ID: </strong>{{device.crc32ID}} </p>
                  <p mat-line class="demo-2"> <strong>Hex ID: </strong>{{device.hexID}} </p>
                  <p *ngFor="let addr of device.addresses"><strong>Net Addr:</strong> {{addr.type}}  {{addr.address}}  {{addr.port}}</p>       
                </mat-expansion-panel>
                <button mat-button (click)="onClaimDevice( device.hexID )">
                  <mat-icon>add_link</mat-icon>
                </button>  
                <button mat-button routerLink="/{{device.deviceType}}/{{device.hexID}}">
                  <mat-icon>start</mat-icon>
                </button>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
              </mat-list-item>
              <h3 mat-subheader>Unavailable Devices</h3>
              <mat-list-item *ngFor="let device of content.unavailableDevices; last as last">
                <mat-icon mat-list-icon>cancel</mat-icon>
                <mat-expansion-panel class="home-expander">
                  <mat-expansion-panel-header>
                    <mat-panel-title><h4 mat-line>{{device.name}}</h4></mat-panel-title>
                    <mat-panel-description>
                    {{device.deviceType}} 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p mat-line class="demo-2"> <strong>Device Type: </strong>{{device.deviceType}} </p>
                  <p mat-line class="demo-2"> <strong>Device Version: </strong>{{device.deviceVersion}} </p>
                  <p mat-line class="demo-2"> <strong>Discovery ID: </strong>{{device.discID}} </p>
                  <p mat-line class="demo-2"> <strong>Hnode ID: </strong>{{device.hnodeID}} </p>
                  <p mat-line class="demo-2"> <strong>CRC32 ID: </strong>{{device.crc32ID}} </p>
                  <p mat-line class="demo-2"> <strong>Hex ID: </strong>{{device.hexID}} </p>
                  <p *ngFor="let addr of device.addresses"><strong>Net Addr:</strong> {{addr.type}}  {{addr.address}}  {{addr.port}}</p>       
                </mat-expansion-panel>
              </mat-list-item>    
          </mat-list>
    </mat-sidenav-content>        
</mat-sidenav-container>
