<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <mat-hint>Name</mat-hint>
        <input matInput placeholder="Name" formControlName="nameFC" (input)="onFieldUpdate('nameFC')"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-hint>Description</mat-hint>
        <input matInput placeholder="Description" formControlName="descriptionFC" (input)="onFieldUpdate('descriptionFC')"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-hint>On Duration (HH:MM:SS)</mat-hint>
        <input matInput placeholder="00:00:00" formControlName="onDurationFC" (input)="onFieldUpdate('onDurationFC')"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-hint>Off Duration (HH:MM:SS)</mat-hint>
        <input matInput placeholder="00:00:00" formControlName="offDurationFC" (input)="onFieldUpdate('offDurationFC')"/>
    </mat-form-field>
    <br/>
    <br/>
    <h3>Sequence Type</h3>
    <mat-select [(value)]="this.curSeq.type" (input)="onFieldUpdate('typeFC')">
        <mat-option value="uniform">Uniform</mat-option>
    </mat-select>    
    <div class="example-container">
        <h3>Sequence Entries</h3>
        <p>Drag entries to reorder sequence.</p>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let objID of curSeq.objIDList" cdkDrag>{{getObjectName(objID)}}</div>
        </div>
        <div>
          <p>Add and remove sequence entries.</p>
          <mat-select [(value)]="this.selectedObjID">
            <mat-option *ngFor="let zone of availZones" value="{{zone.id}}">{{zone.name}}</mat-option>
          </mat-select>
          <button class="mat-icon-button" (click)="addObjID()"><mat-icon>add</mat-icon></button>
          <button class="mat-icon-button" (click)="removeObjID()"><mat-icon>remove</mat-icon></button>
        </div>
    </div>
      
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>

