<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <app-hnid-nav-list></app-hnid-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <mat-toolbar>
            <h2>Schedule Placement Actions:</h2>
            <button mat-button (click)="onNewButtonClick()">
                Add
                <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-button (click)="onEditButtonClick()">
                Edit
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="onDeleteButtonClick()">
                Delete
                <mat-icon>delete</mat-icon>
            </button>
        </mat-toolbar>
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>Select</th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- Content Columns -->
                <ng-container matColumnDef="nameCol">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let plat"> {{plat.name}} </td>
                </ng-container>
                <ng-container matColumnDef="startTimeCol">
                    <th mat-header-cell *matHeaderCellDef> Start Time </th>
                    <td mat-cell *matCellDef="let plat"> {{plat.startTime}} </td>
                </ng-container>
                <ng-container matColumnDef="endTimeCol">
                    <th mat-header-cell *matHeaderCellDef> End Time </th>
                    <td mat-cell *matCellDef="let plat"> {{plat.endTime}} </td>
                </ng-container>
                <ng-container matColumnDef="rankCol">
                    <th mat-header-cell *matHeaderCellDef> Rank </th>
                    <td mat-cell *matCellDef="let plat"> {{plat.rank}} </td>
                </ng-container>
                <ng-container matColumnDef="dayCol">
                    <th mat-header-cell *matHeaderCellDef> Days </th>
                    <td mat-cell *matCellDef="let plat"> {{getDaysStr(plat.dayList)}} </td>
                </ng-container>

                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let mod">
                      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === mod ? null : mod); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== mod">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === mod">keyboard_arrow_up</mat-icon>
                      </button>
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let plat" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="mod-detail" [@detailExpand]="plat == expandedElement ? 'expanded' : 'collapsed'">
                      <mat-list>
                        <mat-list-item>
                          <h4 mat-line>Description</h4>
                          <p mat-line>{{plat.description}}</p>
                        </mat-list-item>
                        <mat-list-item>
                          <h4 mat-line>Allowed Zone List</h4>  
                          <mat-chip-list mat-line>
                            <mat-chip *ngFor="let zone of plat.zoneList">{{getZoneName(zone)}}</mat-chip>
                          </mat-chip-list>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </td>
                </ng-container>

                <!-- Row def -->
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let plat; columns: columnsToDisplayWithExpand;"
                    class="mod-row"
                    [class.mod-expanded-row]="expandedElement === plat"
                    (click)="expandedElement = expandedElement === plat ? null : plat">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="mod-detail-row"></tr>
            </table>
    </mat-sidenav-content>        
</mat-sidenav-container>
