.schedule-inhibit-warning-box {
    max-width: 1200px;
    margin: 10px;
    background-color: lightyellow;
    display: flex;
    flex-direction: row;
}

.schedule-inhibit-warning-icon {
    color: red;
    transform: scale(2);
}

.schedule-inhibit-warning-text {
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.25em;
} 
 
.schedule-byzone-pane {
    max-width: 1200px;
}

.schedule-zone-intro {
    margin-top: 20px;
    margin-left: 30px;
}

.schedule-zone-list-item {
    margin: 10px;
    border-radius: 25px;
    border:solid 1px black;
    background: lightgray;
}

.schedule-zli-title {
    margin-left: 30px;
}

.schedule-zli-totals {
    margin-left: 30px;
}

.schedule-zli-weekly-distribution {
    margin-left: 30px;
}

.schedule-zli-modcalc {
    margin-right: 30px;
    margin-left: 30px;
}

.scalc-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.scalc-name-col {
    width: 40%;
}

.scalc-calc-col {
    width: 30%;
}

.scalc-delta-col {
    width: 10%;
    border-left: solid 2px black;
}

.scalc-label-col {
    width: 20%;
}

.scalc-basedur-row {
    padding: 5px;
}

.scalc-basedur-modifier {
    border-bottom: solid 1px black;
}

.scalc-basedur-calc {
    border-bottom: solid 1px black;
}

.scalc-basedur-value {
    text-align: right;
    font-weight: normal;
}

.scalc-basedur-label {
    font-weight: normal;
    text-align: left;
}

.scalc-mod-row {
    padding: 5px;
}

.scalc-mod-name {
}

.scalc-mod-calc {
}

.scalc-mod-delta {
    text-align: right;
}

.scalc-totaldur-row {
    padding: 5px;
}

.scalc-totaldur-header {
}

.scalc-totaldur-value {
    font-weight: bold;
    text-align: right;
}

.schedule-zli-weekly-section {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.zsch-weekly-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.zsch-label-col {
    width: 20%;
    border-right: solid 2px black;    
}

.zsch-sat-span-col {
    width: 10%;
}

.zsch-mon-span-col {
    width: 10%;
}

.zsch-tue-span-col {
    width: 10%;
}

.zsch-wed-span-col {
    width: 10%
}

.zsch-thr-span-col {
    width: 10%
}

.zsch-fri-span-col {
    width: 10%;
}

.zsch-sun-span-col {
    width: 10%;
}

.zsch-dailyavg-col {
    width: 10%;
    border-left: solid 2px black;
}

.zsch-totaldur-cell {
    font-weight: bold;
    font-size: 0.75em;
    text-align: right;
}

.zsch-startdur-cell {
    font-weight: bold;
    font-size: 0.75em;
    text-align: right;
}

.zsch-daytotal-cell {
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px lightgray;
    text-align: center;
}

.zsch-weekavg-cell {
    text-align: center;
}

.zsch-starttime-cell {
    border-left: solid 1px black;
    border-right: solid 1px lightgray;
    text-align: center;
}

.zsch-rundur-cell {
    border-right: solid 1px black;
    text-align: center;
}
