<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}">
                <mat-icon>other_houses</mat-icon>
                Status
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/controls">
                <mat-icon>build_circle</mat-icon>
                Manual Control
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/schedule">
                <mat-icon>schedule</mat-icon>
                Schedule
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/zones">
                <mat-icon>yard</mat-icon>
                Zones
            </a>
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/placements">
                <mat-icon>punch_clock</mat-icon>
                Placements
            </a>            
            <a mat-list-item *ngIf="crc32ID" routerLink="/hnode2-irrigation-device/{{crc32ID}}/modifiers">
                <mat-icon>exposure</mat-icon>
                Modifiers
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sunday
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="this.schedule.scheduleMatrix.Sunday">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Zone</th>
                <td mat-cell *matCellDef="let action"> {{action.name}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Start Time</th>
                <td mat-cell *matCellDef="let action"> {{action.startTime}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>End Time</th>
                <td mat-cell *matCellDef="let action"> {{action.endTime}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let action"> {{action.action}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Monday
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="this.schedule.scheduleMatrix.Monday">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Zone</th>
                <td mat-cell *matCellDef="let action"> {{action.name}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Start Time</th>
                <td mat-cell *matCellDef="let action"> {{action.startTime}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>End Time</th>
                <td mat-cell *matCellDef="let action"> {{action.endTime}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let action"> {{action.action}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tuesday
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="this.schedule.scheduleMatrix.Tuesday">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Zone</th>
                <td mat-cell *matCellDef="let action"> {{action.name}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Start Time</th>
                <td mat-cell *matCellDef="let action"> {{action.startTime}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>End Time</th>
                <td mat-cell *matCellDef="let action"> {{action.endTime}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let action"> {{action.action}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Wednesday
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="this.schedule.scheduleMatrix.Wednesday">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Zone</th>
                <td mat-cell *matCellDef="let action"> {{action.name}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Start Time</th>
                <td mat-cell *matCellDef="let action"> {{action.startTime}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>End Time</th>
                <td mat-cell *matCellDef="let action"> {{action.endTime}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let action"> {{action.action}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Thursday
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="this.schedule.scheduleMatrix.Thursday">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Zone</th>
                <td mat-cell *matCellDef="let action"> {{action.name}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Start Time</th>
                <td mat-cell *matCellDef="let action"> {{action.startTime}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>End Time</th>
                <td mat-cell *matCellDef="let action"> {{action.endTime}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let action"> {{action.action}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Friday
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="this.schedule.scheduleMatrix.Friday">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Zone</th>
                <td mat-cell *matCellDef="let action"> {{action.name}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Start Time</th>
                <td mat-cell *matCellDef="let action"> {{action.startTime}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>End Time</th>
                <td mat-cell *matCellDef="let action"> {{action.endTime}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let action"> {{action.action}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Saturday
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="this.schedule.scheduleMatrix.Saturday">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Zone</th>
                <td mat-cell *matCellDef="let action"> {{action.name}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Start Time</th>
                <td mat-cell *matCellDef="let action"> {{action.startTime}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>End Time</th>
                <td mat-cell *matCellDef="let action"> {{action.endTime}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let action"> {{action.action}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>

</mat-sidenav-content>        
</mat-sidenav-container>