<mat-list class="home-headers-align">
    <h3 mat-subheader>HNode2 Devices</h3>
    <mat-list-item *ngFor="let device of content.devices; last as last">
      <mat-icon mat-list-icon>device_unknown</mat-icon>
      <mat-expansion-panel class="home-expander">
        <mat-expansion-panel-header>
          <mat-panel-title><h4 mat-line>{{device.name}}</h4></mat-panel-title>
          <mat-panel-description>
          {{device.deviceType}} 
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p mat-line class="demo-2"> <strong>Device Type: </strong>{{device.deviceType}} </p>
        <p mat-line class="demo-2"> <strong>Device Version: </strong>{{device.deviceVersion}} </p>
        <p mat-line class="demo-2"> <strong>Discovery ID: </strong>{{device.discID}} </p>
        <p mat-line class="demo-2"> <strong>Hnode ID: </strong>{{device.hnodeID}} </p>
        <p mat-line class="demo-2"> <strong>CRC32 ID: </strong>{{device.crc32ID}} </p>
        <p *ngFor="let addr of device.addresses"><strong>Net Addr:</strong> {{addr.type}}  {{addr.address}}  {{addr.port}}</p>       
      </mat-expansion-panel>
      <button mat-button routerLink="/{{device.deviceType}}/{{device.crc32ID}}">
        <mat-icon>start</mat-icon>
      </button>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-list>
<!--
<div class="container">
    <header class="jumbotron">
        <ul>
            <li *ngFor="let device of content.devices">{{device.discID}}</li>
        </ul>
    </header>
</div>
-->
